.about-hero{
    height: 434px;
    background-image: url(../../assets/aboutbg.png);
    background-size: cover;
}
.about-hero p{
    font-size: 128px;
    font-family: "phantom sans bold";
    text-align: center;
    margin-top: 70px;
    font-style: italic;
    color: white;
}
.hc{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 70px 40px;
}
.hc h1{
    color: #EC3750;
    font-family: "phantom sans bold";
    font-size: 64px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hc p{
    font-size: 32px;
    font-family: "phantom sans";
}
.content img{
    width:250px;
    aspect-ratio: 1;
}

.team{
    display: flex;
    flex-direction: column;
    font-family: "phantom sans bold";
    text-align: center;
}
.team h1{    
    background: linear-gradient(to right, #FB854C, #EB3750);
    font-family: "phantom sans bold";
    font-style: italic;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
}
.team-nav{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: white;
    font-style: italic;
}
.team-nav p{
    width: calc(100% / 3);
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}
.team-nav p.active{
   width: calc(100% / 3);
    background-color: #D9D9D9;
    border: 1px solid white; 
    cursor: pointer;
}
.members{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid black;
    font-family: 'phantom sans bold';
}
.member{
    display: flex;
    gap: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.member img{
    width: 400px;
    aspect-ratio: 1;
}
.member p{
    color: white;
    font-size: 64px;
    
}
.member h1{
    font-size: 64px;
    transform: rotate(90deg);
    transform-origin: center;
    color: #ff6161;
    white-space: nowrap;
}
