.footer{
    background-color: rgba(0, 0, 0, 25%);
    padding-left: 50px;
    height: 500px;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}
h1{
    color:black;
    font-family: 'semibold';
    margin-bottom: 20px;
}
.links{
    display: flex;
    gap: 50px;
}
.links1{
    display: flex;
    flex-direction:column ;
    color: black;
}
.links1 h1{
    font-family: 'phantom sans bold';
    color: black;
    font-size: 36px;
}

.links1 a{
    color: black;
    font-size: 32px;
}
.flagstand{
    width: 275px;
    height: 100px;

}
.pages{
    margin-left: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.pages div{
    display: flex;

}
.pages p{
    font-size: 25px;
    font-family: 'phantom sans';
}
.pages .icons{
    width: 37.5px;
    margin: 15px;
    aspect-ratio: 1;
}
.first-prt{
    display: flex;
    flex-direction: row;
}
.footer p{
    font-size: 20px;
    font-family: "phantom sans";
}